{% extends "base.html.twig" %}
{% block body %}
    <div id="root"
         data-credentials   ="{{ credentials }}"
         data-simple-order   ="{{ simple_order }}"
         data-order-states  ="{{ order_states }}"
    ></div>
    {#
    <div class="container">
        <div class="row mt-4">
            <div class="col-12">
                <h5>Filters</h5>
                <form action="{{ path('index_path') }}" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="filter_select_state">Estado del pedido</label>
                            <select name="filter_select_state" id="filter_select_state" class="form-control">
                                <option value="">Cualquier opción</option>
                                {% for state in order_states %}
                                    <option value="{{ state.id }}" {% if value_select_state == state.id %}selected="selected"{% endif %}>{{ state.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="filter_check_state" class="mt-4"><input type="checkbox" name="filter_check_state" id="filter_check_state" {% if filter_check_state %}checked{% endif %} onchange="change_option()"> Mostrar solo "Pago aceptado" o "enviado"</label>
                        </div>
                        <div class="col-12 mt-3">
                            <button type="submit" class="btn btn-primary float-end">Apply filters</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <div class="row mt-3">
            {% if simpleOrder %}
                <div class="col-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID Order</th>
                        <th scope="col">Fecha del pedido</th>
                        <th scope="col">Nombre y apellidos de la dirección de envío</th>
                        <th scope="col">Direccion de envio</th>
                        <th scope="col">País de envío</th>
                        <th scope="col">Nombre de los productos comprados</th>
                        <th scope="col">Estado del pedido</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in simpleOrder %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.delivery_date }}</td>
                            <td>{{ item.customer.firstname }} {{ item.customer.lastname }}</td>
                            <td>{{ item.customer.addresses[0][0].address1 }}
                                , {{ item.customer.addresses[0][0].address2 }}
                                , {{ item.customer.addresses[0][0].postcode }}
                                , {{ item.customer.addresses[0][0].city }}</td>
                            <td>{{ item.customer.addresses[0][1].name }}</td>
                            <td>
                                <ul>
                                    {% for product in item.associations.order_rows %}
                                        <li>{{ product.product_name }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ item.order_state.name }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#myModal_{{ item.id }}">View order
                                </button>
                            </td>
                        </tr>
                        <div class="modal" tabindex="-1" id="myModal_{{ item.id }}">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Description of Order</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row pl-3">
                                            <h5>ID Order</h5>
                                            <p>{{ item.id }}</p>
                                            <h5>Fecha del pedido</h5>
                                            <p>{{ item.delivery_date }}</p>
                                            <h5>Nombre y apellidos de la dirección de envío</h5>
                                            <p>{{ item.customer.firstname }} {{ item.customer.lastname }}</p>
                                            <h5>Direccion de envio</h5>
                                            <p>{{ item.customer.addresses[0][0].address1 }}
                                                , {{ item.customer.addresses[0][0].address2 }}
                                                , {{ item.customer.addresses[0][0].postcode }}
                                                , {{ item.customer.addresses[0][0].city }}</p>
                                            <h5>País de envío</h5>
                                            <p>{{ item.customer.addresses[0][1].name }}</p>
                                            <h5>Nombre de los productos comprados</h5>
                                            <p>
                                            <ul>
                                                {% for product in item.associations.order_rows %}
                                                    <span>- {{ product.product_name }}</span><br>
                                                {% endfor %}
                                            </ul>
                                            </p>
                                            <h5>Estado del pedido</h5>
                                            <form action="{{ path('change_status_path') }}" method="post">
                                                <div class="row">
                                                    <div class="col">
                                                        <select name="select_state_{{ item.id }}" id="select_state" class="form-control">
                                                            {% for state in order_states %}
                                                                {{ dump(state) }}
                                                                <option value="{{ state.id }}"
                                                                        {% if state.name == item.order_state.name %}selected="selected"{% endif %}>{{ state.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <button type="submit" class="btn btn-success mt-3">Save changes</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <div class="col-12">
                    <div class="alert alert-warning" role="alert">
                        Sorry, there are no results.
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    #}
{% endblock %}
{% block javascripts %}
{% endblock %}